.square{
    cursor: pointer;    
    background: gray;
}

.open{    
    font-weight: 600;
    cursor: default;
}

.flagged{
    color: black;
    font-weight: 800;    
}

.color1, .color0{
    color: blue;
}

.color2{
    color:rgb(20, 77, 29);
}

.color3{
    color:rgb(145, 0, 0);
}

.color4{
    color:purple;
}

.color5{
    color: #323232;
}

.color6{
    color: rgb(71, 71, 71)
}

.color7{
    color: turquoise;
}

.color-1{
    color:rgb(255, 0, 0);
    font-size: 22px;
    padding-top:4px;      
}

.color-2{
    color: black;
    background-color: red;
    font-size: 22px;
    padding-top:4px;      
}

.color-10{
    color: black;
    font-weight: 600;
    font-size: 22px;
}