.settings{
    position: absolute;
    background-color: pink;
    top: 100px;
    left: calc(50% - 175px);
    width: 350px;
    height: auto;
    padding: 10px 0 10px 5px;
}

.formrow {
    display: flex;
    text-align: start;
}

.formrow div{
    flex:1;
    margin: 5px 0;
}

.formrow div:first-child{
    flex:85px
}

.custominput {
    width: 90%;
    height: 100%;
}

form{
    text-align: center;
}

form button{
    width: 100px;
    height: 30px;
}

